*{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS539RC97P-m0MFQAZ-Mk1wlsqkepQQ2FH4uw&usqp=CAU");
}


h5{
    font-size: 13px;
    text-align: center;
    
}