<mat-toolbar class="toolbar">
    <mat-toolbar-row class="toolbar-row">
        <button mat-icon-button class="toolbar-button">
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>
        <h1 class="titulo"><mat-icon>face</mat-icon>API-Usuarios</h1>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="container">
    <mat-sidenav class="apertura" #sidenav opened="true" mode="side">
        <mat-nav-list class="lista-sidenav">
            <a class="campos-sidenav" mat-list-item><mat-icon>home</mat-icon>INICIO</a>
            <a class="campos-sidenav" mat-list-item><mat-icon>summarize</mat-icon>PROCESOS</a>
            <a class="campos-sidenav" mat-list-item><mat-icon>info</mat-icon>SOBRE LA API</a>
           
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
            <div style="height: 88vh;"></div>
            <router-outlet>

            </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


