<mat-toolbar class="toolbar">
    <mat-toolbar-row class="toolbar-row">
        <button mat-icon-button class="toolbar-button">
            <!--Al hacer click se abre el sidebar-->
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>
        <h1 class="titulo"><mat-icon>face</mat-icon>API-Usuarios</h1>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="container">
    <mat-sidenav class="apertura" #sidenav opened="true" mode="side">
        <!--se añaden las rutas creadas en app routing-->
        <mat-nav-list class="lista-sidenav">
            <a routerLink="/inicio" class="campos-sidenav" mat-list-item><mat-icon>home</mat-icon>INICIO</a>
            <a routerLink="/procesos" class="campos-sidenav" mat-list-item><mat-icon>summarize</mat-icon>PROCESOS</a>
            <a routerLink="/sobre" class="campos-sidenav" mat-list-item><mat-icon>info</mat-icon>SOBRE LA API</a>
           
        </mat-nav-list>
    </mat-sidenav>
   
    <mat-sidenav-content class="sidevav-content">
        
    
        <router-outlet></router-outlet>
        <div style="height: 88vh;"></div>
        
    </mat-sidenav-content>
    
    

</mat-sidenav-container>

